.baidu_tab_container{
    position: absolute;
    left: 50%;
    top: 320px;
    margin-left: -320px;
    /*margin-top: -12.96px;*/
    display: inline-block;
    width:640px;
    height: 36px;
    border: 0px;
    /*border: 1px solid red;*/
}

.baidu_tab_input{
    width: 530px;
    height: 34px;
    border: 1px solid #c0c0c0;
    /*border-right: 0px;*/
    box-sizing: content-box;
    vertical-align: top;
    padding-left:8px;
    /*input元素之间的空格问题通过margin-right解决*/
    margin-right: -5px;
}

.baidu_tab_input:focus{
    border-color: #1b6d85;
}

.baidu_tab_icon{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 110px;
}
.baidu_tab_button{
    width: 98px;
    height: 34px;
    border: 1px solid #c0c0c0;
    /*border-left: 0px;*/
    box-sizing: content-box;
    opacity: 0.8;
    font: 16px "Microsoft YaHei UI";
    color: white;
    background-color: #1b6d85;
    position: relative;
    left: -1px;
}

.baidu_tab_navi_right{
    position: absolute;
    right: 0;
    top: 0;
    margin: 19px 0px 5px;
    padding: 0 96px 0 0;
    text-align: center;
    /*display: none*/
}


.baidu_tab_navi_right .manv{
    height: 24px;
    display: inline-block;
    margin-left: 20px;
    float: left;
    font-size: 13px;
    line-height: 24px;
    color: #333333;
}

.baidu_tab_navi_right .manvmore{
    position: absolute;
    display: inline-block;
    right: 12px;
    height: 24px;
    line-height: 24px;
    margin-left: 19px;
    font-size: 13px;
    background-color: #3388FF;
    color: white;
    text-decoration: none;
    padding: 0 4px 0 4px;
}

.fontweight{
    font-weight: 600;
}

.logo{
    position: absolute;
    top: 235px;
    left: 50%;
    margin-left: -135px;
    margin-top: -65px;
}

.logo img{
    width: 270px;
    height: 129px;
}
